.cardContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.Card {
    width: 300px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
}

.upper-container {
    height: 100px;
    background: linear-gradient(to left, #2d00f7, #ff0291);
}

.image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
}

img {
    border: 2px solid #8e00b9;
}

.lower-container {
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
}

.lower-container h3, h4, p {
    margin: 0;
    padding: 0;
}

.lower-container h3 {
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
}

.lower-container h4 {
    color: #8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
}

.lower-container p {
    margin-top: 10px;
}

.lower-container {
    margin: 1rem;
    color: #2f2d2e;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
}

.aboutButtonContainer {
    display: flex;
    justify-content: center;
}

.aboutButton {
    margin: 1rem;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid #8e00b9;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5%;
    animation: ease-in-out;
}

.aboutButton:hover {
    background-image: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.1);
    border: none;
    color: white;
}
