.html {
  height: 100vh;
}

.App {
  text-align: center;
  background: linear-gradient(to right,#20002c, #cbb4d4);
  font-family: 'New Tegomin', serif;
  color: white;
}

.nav {
  background-color: #49a09d;
}

.navBar {
  margin: 0;
}

.aboutLink {
  text-decoration: none;
}

.buttons {
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}
.buttons button{
  height: 50px;
  width: 100px;
  background: linear-gradient(to bottom, #bada55, #da55bb);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px; 
  padding: 0;
  stroke: black;
  outline: none;
}
.buttons :nth-child(2){
  border-radius: 20px 0 0 20px;
}
.buttons :nth-child(10){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}

/* .button:hover {
  background-color: #49a09d;
} */

.footLink {
 text-decoration: none;
}

.footContainer {
  margin: 0;
  color: white;
  background-color: #49a09d;
}


