.html {
}

.App {
  text-align: center;
  background: linear-gradient(to right,#20002c, #cbb4d4);
  font-family: 'New Tegomin', serif;
  color: white;
}

.nav {
  background-color: #49a09d;
}

.navBar {
  margin: 0;
}

.button:hover {
  background-color: #49a09d;
}

.foot {
  background-color: #49a09d;
}

.footLink {
 text-decoration: none;
}


